<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techtown.matchingservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <!--<meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBsSGVJ9O6wWBGbuPTKJVtJeJT2FEIXVsE"/>-->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDGMfWxnW4XS3Qsd40St_4LKPd5B9lGL9U" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".chatting"/>
        <activity android:name=".ModifyInfo"/>
        <activity android:name=".TradeActivity"/>
        <activity android:name=".GroupActivity"/>
        <activity android:name=".ProductActivity"/>
        <activity android:name=".FoodActivity"/>
        <activity android:name=".Product"/>
        <activity android:name=".ConditionActivity"/>
        <activity android:name=".RecommendActivity"/>
        <activity android:name=".AddressActivity"/>
        <activity android:name=".Delivery"/>
        <activity android:name=".ProductManage"/>
        <activity android:name=".EditProduct"/>
    </application>

</manifest>